In [1]:
def add_fun(a,b):
    return a*b

In [14]:
add_fun(2,20)

40

In [12]:
def sayhello(name):
    input('enter name')
    print(f'name is {name}')

In [13]:
sayhello('Prerana')

enter name  Prerana
name is Prerana

In [20]:
def func_mul(n1,n2):
    return n1+n2

In [21]:
func_mul(2,3)

5

In [22]:
func_mul('a','b')

'ab'

logic with functions

In [29]:
def even_check(num):
    return num%2==0

In [30]:
even_check(20)

True

In [31]:
even_check(53)

False

In [3]:
def check_list(l1):
        l1=[num if num%2==0 else 'ODD' for num in l1]
        return l1
    #to return list of even numbers from the givn list

In [4]:
check_list([1,2])

['ODD', 2]

In [5]:
check_list([1,1,2,3,4,5])

['ODD', 'ODD', 2, 'ODD', 4, 'ODD']

In [6]:
check_list([1,2,3,4,5,6,7,8,9,10,12])

['ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10, 12]

In [7]:
check_list([1,3])

['ODD', 'ODD']

tuple unpacking

In [1]:
prices=[('apple',200),('google',300),('microsft',150)]

In [3]:
for item in prices:
    print(item)

('apple', 200)
('google', 300)
('microsft', 150)

In [4]:
for item,val in prices:
    print(item)
    print(val)

apple
200
google
300
microsft
150

In [5]:
employelist=[('abby',20),('bob',15),('candy',30)]

In [16]:
#to return best employee with greatest working hrs
def employe_check(employelist):
    maxhours=0
    for emp,hours in employelist:
        if hours>maxhours:
            maxhours=hours
            bestemployee=emp
    print(f'best employee is {bestemployee}')
    return (bestemployee,maxhours)

In [17]:
employe_check(employelist)

best employee is candy

('candy', 30)

In [18]:
employe_check([('a',1000),('b',10)])

best employee is a

('a', 1000)

assessment test

In [24]:
def myfunc(*args):
    return sum(args)

In [25]:
myfunc(1,2,3,4,5)      #*args cn b used any number of argumnts without rstriction...args is just arbitrary..returns tuple

15

In [26]:
myfunc(100,30,29,37,40,40)

276

In [27]:
def func(**kwargs):     
    print(kwargs)   
    if 'fruit' in kwargs:
        return True                                             #kwargs returns dictionary...so giv the input accordingly

In [23]:
func(fruit='apple',veggie='tomatoe')

{'fruit': 'apple', 'veggie': 'tomatoe'}

True

In [43]:
def f2(*args,**kwargs):
    print(kwargs)
    print(args)
    print('i would like {} {}'.format(args[2],kwargs['animal']))

In [44]:
f2(10,20,40,30,animal='dog',bird='sparrow',food='rice')

{'animal': 'dog', 'bird': 'sparrow', 'food': 'rice'}
(10, 20, 40, 30)
i would like 40 dog

In [47]:
def f3(a,b):
    if a%2==0 and b%2==0:
        return max(a,b)
    else:
        return min(a,b)

In [48]:
f3(2,8)

8

In [50]:
f3(8,6)

8

In [51]:
def f4(str1,str2):
    if str1[0]==str2[0]:
        return True
    else:
        return False

In [52]:
f4('prerana','sakshu')

False

In [53]:
f4('sakshu','sanju')

True

In [4]:
def f5(a,b):
    if a==20 or b==20:
        return True
    elif a+b==20:
        return True
    else:
        return False

In [5]:
f5(20,1)

True

In [6]:
f5(10,10)

True

In [7]:
f5(9,0)

False

In [33]:
def string(name):                    # firsthalf=name[0:3] secondhalf=name[3:] return first.capitalize+second.capitalize

    first=name[0]
    btwn=name[1:3]
    fourth=name[3]
    rest=name[4:]
    
    return first.upper()+btwn+fourth.upper()+rest

In [34]:
string('macdonald')

'MacDonald'

In [35]:
string('allfucked')

'AllFucked'

In [36]:
string='prerana is a student'

In [37]:
string[::-1]

'tneduts a si anarerp'

In [6]:
def reverse(sentence):
    wordlist=sentence.split()
    result = wordlist[::-1]             
    #join method is of string
    return ' '.join(result)

In [7]:
reverse('hi how u doing')

'doing u how hi'

In [8]:
reverse("Iam ready to go")

'go to ready Iam'

In [80]:
def stupid(n):
    if abs(100-n)<=10:
        return True
    else:
        return False

In [81]:
stupid(3)

False

In [82]:
stupid(90)

True

In [83]:
stupid(150)

False

In [84]:
stupid(104)

True

In [86]:
liste=[1,2,3,4,3,3]

In [107]:
def hass_33(nums):
    for i in range(0,len(nums)-1):           #important point of for loop...taking i and traversing 
        if nums[i]==3 and nums[i+1]==3:
            return True
    else:
         print('nooo')

In [108]:
hass_33([1,2,3,4,5,3,3])

True

In [109]:
hass_33([1,9,8,7])

nooo

In [112]:
def madness(word):
    result= ''
    for char in word:
        result=result+char*3      #string multiplication and concatenation
    return result

In [114]:
madness('HELLO')

'HHHEEELLLLLLOOO'

In [115]:
str1='world'

In [116]:
str1*3

'worldworldworld'

In [140]:
def sumprob(a,b,c):
    s=a+b+c
    if s<21:
        return s
    elif s>21 and 11 in [a,b,c]:         #in keyword returns true or false
        s=s-10
        return s
    elif s>21:
        return 'bust'

In [133]:
sumprob(5,6,7)

18

In [134]:
sumprob(9,9,9)

'bust'

In [135]:
sumprob(9,9,11)

19

In [136]:
sumprob(2,3,4)

9

In [138]:
sumprob(11,8,11)

20

In [139]:
sumprob(10,10,10)

'bust'

In [39]:
def string(word):
    
    for char in word:
        if char%2==0:
            ans = word[char].upper()+word[char:]
            return ans
        else:
            return word[i].lower()

In [40]:
string('prerana')

TypeError: not all arguments converted during string formatting

In [29]:
str1="hello"

In [30]:
str1.splitlines()

['hello']

In [21]:
l1= str1.split(str1)

In [22]:
l1

['', '']

In [41]:
word='prerana'

In [45]:
a=word[0].upper()

In [46]:
a

'P'

In [47]:
b=word[1]

In [48]:
c=word[2].upper()

In [49]:
c

'E'

In [50]:
d=word[3]
e=word[4].upper()

In [51]:
d

'r'

In [52]:
e

'A'

In [53]:
ans=a+b+c+d+e

In [54]:
ans

'PrErA'

MAP FILTER AND LAMBDA

In [1]:
mylist=[1,2,3,4,5]

In [30]:
def sqr(num):
    l2=[item**2 for item in num]      #for loop and list comprehension
    return l2

In [31]:
l1=sqr(mylist)

In [32]:
l1

[1, 4, 9, 16, 25]

In [33]:
#instead we cn use map funct to map the list to a givn function
def sqr(num):
    return num**2

In [34]:
values=[1,2,3,4,5]

In [35]:
map(sqr,values)

In [37]:
list(map(sqr,values))

[1, 4, 9, 16, 25]

In [43]:
def splicer(string):
    if len(string)%2==0:
        return "even"
    else:
        return string[0].upper()

In [44]:
strlist=['shreya','saksham','prerana','sanj','agastya']

In [45]:
for item in map(splicer,strlist):
    print(item)

even
S
P
even
A

In [47]:
#or
list(map(splicer,strlist))

['even', 'S', 'P', 'even', 'A']

In [48]:
nums=[10,1,10,21,30,]

In [49]:
def funct(n):
    if n%10==0:
        return True

In [50]:
list(map(funct,nums))

[True, None, True, None, True]

In [51]:
list(filter(funct,nums))        #filter returns oly those values which gives true

[10, 10, 30]

Lambda

In [52]:
#lambda is called anonymous function where we delete the functio name

In [54]:
lambda num: num**3    #no fnname no args list

In [55]:
list(map(lambda num:num**3,mylist))

[1, 8, 27, 64, 125]

In [57]:
list (filter(lambda n: n%10==0,nums))

[10, 10, 30]

In [58]:
strlist

['shreya', 'saksham', 'prerana', 'sanj', 'agastya']

In [59]:
list(map(lambda x: x[0].upper(),strlist))

['S', 'S', 'P', 'S', 'A']

In [93]:
def checkrange(n,low,high):
    if n in range(low,high+1):
        print(f'{n} in the range btwn {low} and {high}')
    else:
        pass

In [94]:
checkrange(7,2,7)

7 in the range btwn 2 and 7

In [65]:
checkrange(1,3,7)

In [72]:
def count(string):
    c=0
    p=0
    for char in string:
        if char.isupper():
            c=c+1
        elif char.islower():
            p=p+1
    print(f' number of upper case is {c}')
    print(f' number of lower case is {p}')

In [73]:
str='Hi Mr.Rathod How r u doing'

In [74]:
count(str)

 number of upper case is 4
 number of lower case is 16

In [76]:
list2=[1,1,2]

In [77]:
set(list2)

{1, 2}

In [83]:
def unique(lst):
    return list(set(lst))

In [84]:
lst=[1,2,3,2,2,2,2,3,4,5,6,6,6,]

In [85]:
unique(lst)

[1, 2, 3, 4, 5, 6]

In [86]:
string='MOM'

In [90]:
string.replace()

NameError: name 'replace' is not defined

In [95]:
s=string[::-1]

In [96]:
s

'MOM'

In [99]:
if s==string:
    print('truye')

truye

In [100]:
string='nurses run'

In [108]:
s=string.replace(' ','')

In [109]:
if s==string[::-1]:
    print ('DONE')